<div class="sticky  w-full flex items-center justify-between mx-auto  border-b-8 navbar">
    <div class="ml-5 logo w-2/12" >
        <a routerLink="/"> <img class="h-18 w-20 py-3" src="../../assets/images/f1cars logo.png" alt=""></a> 
    </div>
    <div class="navbarOptions w-6/12">
        <button class=" lg:hidden" (click)="showMenuList()">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
              </svg>                      
        </button>
        <ul class="flex hidden lg:flex items-center justify-center gap-5  uppercase text-xl font-semibold text-gray-700">
            <li class="hover:border-b-4 hover:border-green-600 py-3" routerLink="/" (click)="enableLoader()">home</li>
            <li class="hover:border-b-4 hover:border-green-600 py-3" routerLink="/carPage" (click)="enableLoader()">Cars</li>
            <li class="hover:border-b-4 hover:border-green-600 py-3" routerLink="/comparePage" (click)="enableLoader()">Compare</li>
            <li class="hover:border-b-4 hover:border-green-600 py-3" routerLink="/reviewPage" (click)="enableLoader()">Reviewes</li>
        </ul>
    </div>
    <div class="flex items-center justify-end mr-4 lg:mr-5 gap-2 md:gap-5 lg:gap-7 nav-searchBox w-4/12">
        <div class="navSearch  md:border border-gray-100">
            <div class="hidden sm:flex border border-solid  justify-between items-center p-2">
                <input type="text" placeholder="Search" class="py-1 mx-1 outline-none focus:ring-0 focus:border-gray-300"  [(ngModel)]="searchText" >
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z" />
              </svg> 
            </div>
            <div class="sm:hidden">
                <button (click)="showSearchBox()">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z" />
                      </svg>
                </button>
            </div>
           
        </div>
        <div class="p-2 nav-location">
            <a  routerLink="/wishlist" >
                <i class="fa-regular fa-heart text-24 sm:font-light"></i>
            </a>
        </div>
        <div class="p-2 nav- profile">
            <a routerLink="/profile"  *ngIf="user">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-7 h-7">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M17.982 18.725A7.488 7.488 0 0012 15.75a7.488 7.488 0 00-5.982 2.975m11.963 0a9 9 0 10-11.963 0m11.963 0A8.966 8.966 0 0112 21a8.966 8.966 0 01-5.982-2.275M15 9.75a3 3 0 11-6 0 3 3 0 016 0z" />
                  </svg>                  
            </a>
            <a routerLink="/login"  *ngIf="!user">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-7 h-7">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M17.982 18.725A7.488 7.488 0 0012 15.75a7.488 7.488 0 00-5.982 2.975m11.963 0a9 9 0 10-11.963 0m11.963 0A8.966 8.966 0 0112 21a8.966 8.966 0 01-5.982-2.275M15 9.75a3 3 0 11-6 0 3 3 0 016 0z" />
                  </svg>                  
            </a>
        </div>
        
    </div>
   
  </div>  
  
  <div class="menulist px-3 lg:hidden" *ngIf="menuButton">
    <ul class="  uppercase text-xl font-semibold text-gray-700">
        <li class="hover:border-b-4 hover:border-green-600 py-3" routerLink="/" (click)="enableLoader()">home</li>
        <li class="hover:border-b-4 hover:border-green-600 py-3" routerLink="/carPage" (click)="enableLoader()">Cars</li>
        <li class="hover:border-b-4 hover:border-green-600 py-3" routerLink="/comparePage" (click)="enableLoader()">Compare</li>
        <li class="hover:border-b-4 hover:border-green-600 py-3" routerLink="/reviewPage" (click)="enableLoader()">Reviewes</li>
    </ul>
  </div>
  <div class="searchBoxtext-gray-700 m-2 md:hidden" *ngIf="showSearch">
    <input type="text" placeholder="Search" class="py-1 mx-1 outline-none focus:ring-0 focus:border-gray-300"  [(ngModel)]="searchText" >
  </div>
 
  <div >

    <div *ngFor="let item of cars | carSearchPipe: searchText let i=index"
      class="py-2 border-b border-gray-300 m-2">
      <a routerLink="/carSinglePage/{{item._id}}">
        <div class="flex ">
            <div class="carImage px-5">
                <img  [src]="getImageUrl(item.image)" width="50px" height="50px">
            </div>
            <div class="carName px-2">
                {{item.carName}}
            </div>
          </div>
      </a>
      
    
    </div>
</div>


