
<div class="bg-gray-800 text-white w-64 flex-none px-4 py-6 h-[100vh] mt-3">
   <h2 class="text-2xl font-semibold mb-6">Reviewer Panel</h2>
   <ul class="space-y-2">
      <!-- <li class="py-1">
         <a routerLink="/reviewer/reviewerHome"
            class="block pl-3 pr-4 py-2 rounded-md transition duration-200 hover:bg-gray-900">
            Dashboard
         </a>
      </li> -->
      <li class="py-1">
         <a routerLink="/reviewer/reviewManagement"
            class="block pl-3 pr-4 py-2 rounded-md transition duration-200 hover:bg-gray-900">
            My Reviews
         </a>
      </li>
      <li class="py-1">
         <a routerLink="/reviewer/reviewerAddReviewBrand"
            class="block pl-3 pr-4 py-2 rounded-md transition duration-200 hover:bg-gray-900">
            Add Reviews
         </a>
      </li>
      <li class="py-1">
         <a routerLink="/reviewer/chat"
            class="block pl-3 pr-4 py-2 rounded-md transition duration-200 hover:bg-gray-900">
            Chat
         </a>
      </li>
   </ul>
</div>
