<div class="h-fit w-full">
    <app-navbar [userLogged]="userLogged"></app-navbar>
</div>
<app-loader [showLoader]="showLoader"></app-loader>
<!-- Your other application content goes here -->


<!-- banner section  -->
<div class="h-fit w-full">
    <div class="banner relative">
      <div class="object-cover h-fit w-full">
        <img class="object-cover" src="../../assets/images/banner-2.jpg" alt="Image" height="1500" width="1500">
      </div>
  
      <div class="banner-search absolute bottom-0 left-1/2 transform -translate-x-1/2 md:top-2/3 lg:top-2/3 text-center w-full">
        <h1 class="text-sm md:text-4xl text-white mx-auto lg:py-4 md:py-2">FIND THE RIGHT CAR</h1>
        <div class="banner-inputSearch flex items-center  h-10 md:h-22 lg:h-24 p-4 md:p-6  mx-auto py-4 sm:w-[30%] md:w-[45%] lg:w-[50%]">
          <input class="h-8 md:h-15 outline-none focus:ring-0 focus:border-gray-300 flex-1" type="text" [(ngModel)]="searchText" 
            placeholder="search your car">
          <button class="px-4 py-2 bg-red-600 text-white border-none cursor-pointer" (click)="searchCars()">Search</button>
        </div>
        <div *ngIf="searched" class=" bg-gray-100 mx-auto  sm:w-[30%] md:w-[45%] lg:w-[50%]">

            <div *ngFor="let item of cars | carSearchPipe: searchText let i=index"
              class="py-2 border-b border-gray-300 m-2">
              <a routerLink="/carSinglePage/{{item._id}}">
                <div class="flex ">
                    <div class="carImage px-5">
                        <img [src]="getImageUrl(item.image)" width="50px" height="50px">
                    </div>
                    <div class="carName px-2 ">
                        {{item.carName}}
                    </div>
                  </div>
              </a>
            
            </div>
        </div>
      </div>
    </div>
  </div>


<div class="container  featuredcar ">
    <div class="mx-auto px-4 max-w-sm sm:max-w-xl md:max-w-2xl lg:max-w-6xl">
        <div class="flex items-center justify-between">
            <div>
                <h1 class="text-3xl font-semibold py-5">Featured Car</h1>
            </div>
        </div>
        <div>
            <ul class="flex border-b items-center gap-3 md:gap-6 ">
                <li class="text-xs lg:text-lg py-1" [class.active]="selectedItem === 'POPULAR'"
                    (click)="selectItem('POPULAR')">
                    POPULAR</li>
                <li class="text-xs lg:text-lg py-1" [class.active]="selectedItem === 'JUST LAUNCHED'"
                    (click)="selectItem('JUST LAUNCHED')">JUST LAUNCHED</li>
                <li class="text-xs lg:text-lg py-1" [class.active]="selectedItem === 'UPCOMING'"
                    (click)="selectItem('UPCOMING')">
                    UPCOMMING</li>
            </ul>
        </div>
        <div class="h-fit w-full">
            <app-popular-cars *ngIf="selectedItem === 'POPULAR'&&this.popularCars.length>0"
                [popularCars]="this.popularCars"></app-popular-cars>
            <app-just-launched-cars *ngIf="selectedItem === 'JUST LAUNCHED'&&this.justLaunched.length>0"
                [popularCars]="this.justLaunched"></app-just-launched-cars>
            <app-up-comming-cars *ngIf="selectedItem === 'UPCOMING'&&this.upcommingCars.length>0"
                [popularCars]="this.upcommingCars"></app-up-comming-cars>
        </div>
    </div>
</div>



<div class="container  featuredcar ">
    <div class="mx-auto px-4 max-w-sm sm:max-w-xl md:max-w-2xl lg:max-w-6xl">
        <div class="flex items-center justify-between">
            <div>
                <h1 class="text-3xl font-semibold py-5">All Brands</h1>
            </div>
        </div>
        <app-brand-listing *ngIf="brand.length > 0" [BrandData]="this.brand"></app-brand-listing>
    </div>
    

</div>

<!-- find the car of your choice -->
<section class="mb-4 ">
    <div class="container featuredcar ">
        <div class="mx-auto px-4 max-w-sm sm:max-w-xl md:max-w-2xl lg:max-w-6xl">
            <h1 class="text-lg lg:text-2xl font-semibold py-3 lg:py-5">Find The Cars Of Your Choice </h1>
        <div>
            <ul class="featuredOptions flex border-b-4  items-center gap-3 md:gap-6 pt-3">
                <li class="text-xs lg:text-lg py-1" [class.active]="selectedCategory === 'BUDGET'"
                    (click)="selectCategory('BUDGET')">BUDGET</li>
                <li class="text-xs lg:text-lg py-1" [class.active]="selectedCategory === 'BODY TYPE'"
                    (click)="selectCategory('BODY TYPE')">BODY TYPE</li>
                <li class="text-xs lg:text-lg py-1" [class.active]="selectedCategory === 'FUEL TYPE'"
                    (click)="selectCategory('FUEL TYPE')">FUEL TYPE</li>
                <li class="text-xs lg:text-lg py-1" [class.active]="selectedCategory === 'TRANSIMISSION'"
                    (click)="selectCategory('TRANSIMISSION')">TRANSIMISSION</li>
                <li class="text-xs lg:text-lg py-1" [class.active]="selectedCategory === 'SEAT CAPACITY'"
                    (click)="selectCategory('SEAT CAPACITY')">SEAT CAPACITY</li>
            </ul>
            <app-budget *ngIf="selectedCategory === 'BUDGET'"></app-budget>
            <app-body-type *ngIf="selectedCategory === 'BODY TYPE' &&uniqueBodyTypes" [bodyTypes]="this.uniqueBodyTypes"></app-body-type>
            <app-fuel-type *ngIf="selectedCategory === 'FUEL TYPE'&&uniqueFuelTypes" [fuelTypes]="this.uniqueFuelTypes"></app-fuel-type>
            <app-seat-capcity *ngIf="selectedCategory === 'SEAT CAPACITY'&&uniqueSeatCapacities" [seatCapacity]="this.uniqueSeatCapacities"></app-seat-capcity>
            <app-transmission *ngIf="selectedCategory === 'TRANSIMISSION'&&uniqueTransmissions" [transmission]="this.uniqueTransmissions"></app-transmission>
        </div>
        </div>
        
    </div>
</section>
<div class="container  allReviews ">
    <div class="mx-auto px-4 max-w-sm sm:max-w-xl md:max-w-2xl lg:max-w-6xl">
        <div class="flex items-center justify-between">
            <div>
                <h1 class="text-3xl font-semibold py-5">All Reviews</h1>
            </div>
        </div>
        <app-review-slider *ngIf="this.reviews.length>0" [reviews]="this.reviews"></app-review-slider>
    </div>
    

</div>


<app-footer></app-footer>