
<app-nav></app-nav>
<div class="flex">
    <div class=" h-full bg-gray-800 ">
        <app-side-bar ></app-side-bar>
    </div>
    
    <div class="m-3">
        <!-- Your main content here -->
        <h1>Angular editor for add review of car</h1>
        <div class="container">
            <form [formGroup]="form" (submit)="submit()" class="max-w-2xl mx-auto">
                <h1 class="mx-auto">Add Review</h1>
                <angular-editor [placeholder]="'Enter text here...'" [config]="config" [(ngModel)]="htmlContent"
                    formControlName="content"></angular-editor>

                <div class="mb-4">
                    <label class="block text-gray-700 text-sm font-bold mb-2" for="heading">
                        Heading
                    </label>
                    <input [(ngModel)]="headingReview"
                        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                        id="heading" type="text" placeholder="Enter your name" required formControlName="heading">
                </div>

                <div class="mb-4">
                    <label class="block text-gray-700 text-sm font-bold mb-2" for="shortestDescription">
                        Short Description
                    </label>
                    <input [(ngModel)]="shortestDescriptionReview"
                        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                        id="shortestDescription" type="text" placeholder="Enter avoid reasons" required
                        formControlName="shortestDescription">
                </div>

                

                <div class="mb-4">
                    <label class="block text-gray-700 text-sm font-bold mb-2" for="overAllScore">
                        Overall Score
                    </label>
                    <input  [(ngModel)]="overAllScoreReview"
                        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                        id="overAllScore" type="number" placeholder="Enter overall score (0-10)" required
                        formControlName="overAllScore">
                </div>
                <!-- <div class="mb-4">
                    <label class="block text-gray-700 text-sm font-bold mb-2" for="image">
                      Add Image
                    </label>
                    <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="image" type="file" placeholder="Enter your email" required="" (change)="onFileSelected($event)">
                  </div> -->

                <button type="submit"
                    class="text-white bg-blue-700 hover:bg-blue-800 focus:outline-none focus:ring-4 focus:ring-blue-300 font-medium rounded-full text-sm px-5 py-2.5 text-center mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Submit</button>
            </form>
        </div>


        <!-- <h4>html content generated by editor</h4>
        {{htmlContent}} -->

    </div>
  </div>