<app-navbar></app-navbar>
<section>
    <div class="container py-4">

        <h1>SUV CARS</h1>
        <p>Are you planning on buying a SUV? Well, we know that bodystyle is one of the most crucial things while buying a car 
            and with so many options available out there, it gets really difficult to find a good car which suits your pocket.
             Hence, we have put together a complete list of best SUVs. Kia Seltos, Mahindra Scorpio and Mahindra 
             Thar are the 3 most popular cars under this preference. The upcoming cars under this preference are Volkswagen Taigun,
              BMW X3 M40i, Volkswagen ID.4, Force Motors Five-door Gurkha, Ferrari Purosangue SUV, Honda Elevate, Nissan X-Trail,
               Mercedes-Benz 2023 GLC and Audi Q8 e-tron. View the complete list of cars with information regarding price, images,
                videos, comparison,expert reviews, users reviews and much more for each of these cars so that you 
                get to choose the best SUV.</p>
    </div>
    <div class="container">
        <div class="flex justify-between bg-gray-300">
            <div class="filter ">
                <h1 class="font-bold ml-3 mt-3">Filter By</h1>
                <div class="filter-btn flex">
                    <h1 class="hover:bg-gray-600 p-2 m-3 bg-white">Budget</h1>
                    <h1 class="hover:bg-gray-600 p-2 m-3 bg-white">Body Type</h1>
                    <h1 class="hover:bg-gray-600 p-2 m-3 bg-white">Fuel Type</h1>
                    <h1 class="hover:bg-gray-600 p-2 m-3 bg-white">Transmission Type</h1>
                    <h1 class="hover:bg-gray-600 p-2 m-3 bg-white">More Filter</h1>
                </div>
            </div>
            <div class="sortBy ">
                <h1 class="font-bold mr-3 mt-3 ml-2">Sort By</h1>
                <button class="border p-2 m-3 bg-white">Popularity</button>
            </div>
        </div>
    </div>
    <div class="container">
        <h1>Suv Cars</h1>
        <div class="my-4 grid grid-cols-1 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-2 grid-flow-row  gap-3 " >
            <div class=" flex border rounded-md p-3 " *ngFor="let car of carData">
                <div class="hover:drop-shadow-md">
                    <a routerLink="/carSinglePage/{{car._id}}">
                        <img class="w-48" [src]="getImageUrl(car.image)"  alt="">
                    </a>
                    
                </div>
                <div class="my-auto ml-4">
                    <h1 class="text-gray-500">{{car.carName}}</h1>
                    <h3 class="text-gray-700 text-sm">Rs. {{car.price}}</h3>
                    <p class="text-gray-400">On-Road Price, Agra</p>
                </div>
            </div>
            <!-- <div class=" flex border rounded-md p-3 ">
                <div class="hover:drop-shadow-lg">
                    <img class="w-48" src="../../assets/audi/audi new a3.jpg" alt="">
                </div>
                <div class="my-auto ml-4">
                    <h1 class="text-gray-500">Kia Seltos</h1>
                    <h3 class="text-gray-700 text-sm">Rs. 12.51 Lakh</h3>
                    <p class="text-gray-400">On-Road Price, Agra</p>
                </div>
            </div>
            <div class=" flex border rounded-md p-3">
                <div class="hover:drop-shadow-lg">
                    <img class="w-48" src="../../assets/audi/audi e-tron gt.jpg" alt="">
                </div>
                <div class="my-auto ml-4">
                    <h1 class="text-gray-500">Kia Seltos</h1>
                    <h3 class="text-gray-700 text-sm">Rs. 12.51 Lakh</h3>
                    <p class="text-gray-400">On-Road Price, Agra</p>
                </div>
            </div>
            <div class=" flex border rounded-md p-3">
                <div class="hover:drop-shadow-lg">
                    <img class="w-48" src="../../assets/audi/audi new a3.jpg" alt="">
                </div>
                <div class="my-auto ml-4">
                    <h1 class="text-gray-500">Kia Seltos</h1>
                    <h3 class="text-gray-700 text-sm">Rs. 12.51 Lakh</h3>
                    <p class="text-gray-400">On-Road Price, Agra</p>
                </div>
            </div>
            <div class=" flex border rounded-md p-3">
                <div class="hover:drop-shadow-lg">
                    <img class="w-48" src="../../assets/audi/audi e-tron gt.jpg" alt="">
                </div>
                <div class="my-auto ml-4">
                    <h1 class="text-gray-500">Kia Seltos</h1>
                    <h3 class="text-gray-700 text-sm">Rs. 12.51 Lakh</h3>
                    <p class="text-gray-400">On-Road Price, Agra</p>
                </div>
            </div>
            <div class=" flex border rounded-md p-3">
                <div class="hover:drop-shadow-lg">
                    <img class="w-48" src="../../assets/audi/audi new a3.jpg" alt="">
                </div>
                <div class="my-auto ml-4">
                    <h1 class="text-gray-500">Kia Seltos</h1>
                    <h3 class="text-gray-700 text-sm">Rs. 12.51 Lakh</h3>
                    <p class="text-gray-400">On-Road Price, Agra</p>
                </div>
            </div> -->
        </div>
    </div>
</section>

<app-footer></app-footer>