
<app-navbar></app-navbar>
<section class="bg-gray-50 min-h-screen flex items-center justify-center">\
    <!-- <img class="bg img" src="../../assets/images/login-bg.jpg" alt=""> -->
<!-- login container  -->
<div class="bg-gray-100 flex rounded-2xl shadow-lg max-w-3xl p-5 items-center">
    <!-- form  -->
    <div class="md:w-1/2 px-16">
        <h2 class="font-bold text-2xl text-[#002D74]">Signup</h2>
        <p class="text-sm mt-5">If You Already a member easily login </p>
        <form [formGroup]="form" (submit)="submit()" class="flex flex-col gap-2">
            <input class="p-2 mt-8 rounded-xl border " type="text" name="name" placeholder="Name" required="" formControlName="name" [ngClass]="{'border-red-500': register && f['name'].errors}">
            <div *ngIf="register && f['name'].errors" class="text-red-500">
            <div *ngIf="f['name'].errors['required']" class="p-2">Name is required</div>
            </div>

            <input class="p-2 rounded-xl border" type="email" name="email" placeholder="Email" required="" formControlName="email" [ngClass]="{'border-red-500': register && f['email'].errors}">
            <div *ngIf="register && f['email'].errors" class="text-red-500">
            <div *ngIf="f['email'].errors['required']" class="p-2">Email is required</div>
            <div *ngIf="f['email'].errors['pattern']" class="p-2">Invalid Email</div>
            </div>

            <input class="p-2 rounded-xl border" type="password" name="password" placeholder="password" required="" formControlName="password" [ngClass]="{'border-red-500': register && f['password'].errors}">
            <div *ngIf="register && f['password'].errors" class="text-red-500">
            <div *ngIf="f['password'].errors['required']" class="p-2">Password is required</div>
            <div *ngIf="f['password'].errors['pattern']" class="p-2">Password must include at least one special character</div>
            <div *ngIf="f['password'].errors['minlength']" class="p-2">Password must be at least 8 characters long</div>
            </div>

            <div class="mt-4">
              <label class="block text-gray-700 text-sm font-bold mb-2" for="state">
                State
              </label>
              <select class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="brand" required formControlName="state"  >
                <option value="">Choose One State </option>
                <option *ngFor="let item of states" [value]="item._id">{{ item.state }}</option>
              </select>
            </div> 
            <div *ngIf="register && f['state'].errors" class="text-red-500">
              <div *ngIf="f['state'].errors['required']" class="p-2">State is required</div>
            </div>
            <div *ngIf="message" class="bg-red-100 border-t-4 border-red-500 rounded-b text-red-900 px-4 py-3 shadow-md" role="alert">
                <div class="flex">
                  <div class="py-1"><svg class="fill-current h-6 w-6 text-red-500 mr-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M2.93 17.07A10 10 0 1 1 17.07 2.93 10 10 0 0 1 2.93 17.07zm12.73-1.41A8 8 0 1 0 4.34 4.34a8 8 0 0 0 11.32 11.32zM9 11V9h2v6H9v-4zm0-6h2v2H9V5z"/></svg></div>
                  <div>
                    <p class="font-bold">{{message}}</p>
                    <p class="text-sm">Something error try angain</p>
                  </div>
                </div>
              </div>

            <button class="bg-[#002D74] rounded-xl text-white py-2 hover:scale-110 duration-300" type="submit">Login</button>
        </form>
        <!-- <div class="mt-10 grid grid-cols-3 items-center text-gray-500">
            <hr class="outline-gray-500">
            <p class="text-center">OR</p>
            <hr class="outline-gray-500">
        </div> -->
        <!-- <p class=" mt-5 text-x border-b py-6 cursor-pointer">Forgot Your Password</p> -->
        <div class="mt-5 text-xm flex justify-between items-center">
          <p>Already have an account? </p> 
            <button class="py-2 px-5 bg-white border-rounded-xl hover:scale-110 duration-300"><a routerLink="/login" class="a2">Login</a></button>
        </div>
    </div>
    <!-- image  -->
    <div class="md:block hidden w-1/2 log">
        <img class=" rounded-2xl" src="../../assets/images/login-img.jpg" alt="image" width="400px" height="600px">
    </div>


</div>
</section>