
    <app-navbar></app-navbar>
<!-- 
    <div class="container mx-auto p-4">

        <div class="flex items-center justify-center">
          <img src="path/to/profile-image.jpg" class="w-24 h-24 rounded-full" alt="User Profile">
        </div>
      

        <div class="mt-8">
          <h2 class="text-3xl font-bold">John Doe</h2>
          <p class="text-gray-500">john.doe@example.com</p>
          <p class="text-gray-500">New York City</p>
          <p class="mt-4 text-lg font-semibold">Current Plan: Premium</p>
        </div>
      
   
        <div class="mt-8">
          <button class="bg-red-500 hover:bg-red-600 text-white px-4 py-2 rounded">
            Logout
          </button>
        </div>
      </div>
       -->



      <section class="md">
  <div class="container">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-8">

      <!-- left panel -->
      <div class="col-lg-4 col-sm-9 mb-2-3 mb-lg-0">

        <div class="account-pannel bg-gray-100 rounded-md p-4">
          <div class="text-center">
            <div class="pb-3">
              <img class="h-32 w-32 rounded-full" src="" alt="...">
            </div>
            <h6 class="mb-0 text-2xl"></h6>
            <small>Adhil p></small>
            <div class="reward-points">
              <i class="ti-star text-primary pe-1"></i> WALLET:100
            </div>
          </div>
          <div class=" mt-4">
            <ul>
                <li>Orders</li>
                <li>Profile</li>
                <li>Addresses</li>
            </ul>
          </div>
        </div>

      </div>
      <!-- end left panel -->

      <!-- right panel -->
      <div class="col-lg-8">

        <div class="common-block bg-white rounded-md p-4">

          <div class="inner-title">
            <h4 class="mb-0 text-2xl">My Profile</h4>
            <p class="mb-0">Time for a Sharp My profile.</p>
          </div>

          <form  action="">
            <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
              <div class="">
                <h2 class="text-3xl font-bold">John Doe</h2>
              </div>
              <div class="">
                <p class="text-gray-500">john.doe@example.com</p>
              </div>
              <div class="">
                <p class="mt-4 text-lg font-semibold">Mobile: 8086386842</p>
              </div>
              <div>
                <p class="text-gray-500">New York City</p>
              </div>
              <div>
                <p class="mt-4 text-lg font-semibold">Current Plan: Premium</p>
              </div>
            </div>
            <button type="submit" class="butn-style2 mt-4">Update Profile</button>
          </form>

        </div>

      </div>
      <!-- end right panel -->

    </div>
  </div>
</section>
