
<section class="footer ">
    <div class="conatiner mx-auto py-5 border-b border-black">
        <ul class="flex items-center justify-center py-3">
            <li class="mx-3 text-2xl sm:mx-8 sm:text-4xl hover:text-black"><i class="fa-brands fa-windows"></i></li>
            <li class="mx-3 text-2xl sm:mx-8 sm:text-4xl hover:text-black"><i class="fa-brands fa-google"></i></li>
            <li class="mx-3 text-2xl sm:mx-8 sm:text-4xl hover:text-black"><i class="fa-brands fa-github"></i></li>
            <li class="mx-3 text-2xl sm:mx-8 sm:text-4xl hover:text-black"><i class="fa-brands fa-paypal"></i></li>
            <li class="mx-3 text-2xl sm:mx-8 sm:text-4xl hover:text-black"><i class="fa-brands fa-stack-overflow"></i></li>

        </ul>
    </div>
    <div class="container mx-auto flex py-8 items-center justify-center">
        <div class="flex m-4 sm:mr-16 border-r border-black pr-4">
            <div>
                <h3>Language :Engilsh</h3>
                <h5>About Us</h5>
                <h5>Career</h5>
            </div>
            <div>
                <h5>Terms & Condition</h5>
                <h5>Advertise</h5>
            </div>
        </div>
        <div>
            <h1>Download Mobile App</h1>
            <div class="flex py-3">
                <div class="w-16 object-cover">
                    <img src="../../assets/images/app-store.jpg" alt="">
                </div>
                <div class="w-16 object-cover">
                    <img src="../../assets/images/play-store.jpg" alt="">
                </div>
            </div>
            <h1>contact With Us</h1>
            <div class="flex pt-3">
                
                <h1 class="mr-4 hover:text-black"><i class="fa-brands fa-square-facebook"></i></h1>
                <h1 class="mr-4 hover:text-black"><i class="fa-brands fa-square-twitter"></i></h1>
                <h1 class="mr-4 hover:text-black"><i class="fa-brands fa-square-youtube"></i></h1>
                <h1 class="mr-4 hover:text-black"><i class="fa-brands fa-linkedin"></i></h1>
                <h1 class="mr-4 hover:text-black"><i class="fa-brands fa-square-instagram"></i></h1>

            </div>
        </div>
    </div>
    <div class=" flex items-center justify-center py-6 border-t border-black">
        <h1 class="p-3 sm:pr-7 border-r border-black">© 2006 - 2023. www.carwale.com</h1>
        <h1 class="p-3 sm:pl-7">Visitor Agreement & Privacy Policy</h1>

    </div>

</section>