
<nav class="bg-gray-800  w-full" >
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
      <div class="flex justify-between h-16 md:w-full sm:w-1/2">
        <div class="flex">
          <div class="flex-shrink-0 flex items-center">
            <a href="#" class="text-white text-xl font-bold">F1CARS</a>
          </div>
        </div>
        <div class="flex">
          <div class="hidden sm:block sm:ml-6">
            <div class="flex space-x-4">
              <a href="#" class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md">Home</a>
              <a href="#" class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md">About</a>
              <a href="#" class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md">Profile</a>
              <a routerLink="/reviewer" (click)="logout()" class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md">LogOut</a>
            </div>
          </div>
        </div>
        <div class="flex">
          <div class="flex items-center">
            <input type="text" class="py-1 px-2 rounded-md bg-gray-700 text-white focus:outline-none" placeholder="Search">
            <button class="ml-2 px-4 py-2 rounded-md bg-gray-700 text-white">Search</button>
          </div>
          <div class="-mr-2 flex items-center sm:hidden">
            <button class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md">
              <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path>
              </svg>
            </button>
          </div>
        </div>
      </div>
    </div>
  
    <div class="sm:hidden">
      <div class="px-2 pt-2 pb-3 space-y-1">
        <a href="#" class="text-gray-300 hover:bg-gray-700 hover:text-white block px-3 py-2 rounded-md">Home</a>
        <a href="#" class="text-gray-300 hover:bg-gray-700 hover:text-white block px-3 py-2 rounded-md">About</a>
        <a href="#" class="text-gray-300 hover:bg-gray-700 hover:text-white block px-3 py-2 rounded-md">Profile</a>
        <a routerLink="/reviewer" (click)="logout()" class="navbar-brand">Logout</a>
        <!-- <a routerlink="/reviewer" (click)="logout()" class="text-gray-300 hover:bg-gray-700 hover:text-white block px-3 py-2 rounded-md">LogOut</a> -->
      </div>
    </div>
  </nav>
  