
<app-navbar></app-navbar>
<section class="bg-gray-50 min-h-screen flex items-center justify-center">
    <!-- <img class="bg img" src="../../assets/images/login-bg.jpg" alt=""> -->
<!-- login container  -->
<div class="bg-gray-100 flex rounded-2xl shadow-lg max-w-3xl p-5 items-center">
    <!-- form  -->
    <div class="sm:w-1/2 px-16">
        <h2 class="font-bold text-2xl text-[#002D74]">login</h2>
        <p class="text-sm mt-5">If You Already a member easily login </p>
        <form [formGroup]="form" (submit)="submit()" class="flex flex-col gap-4">
            <input class="p-2 mt-8 rounded-xl-border" type="email" name="email" placeholder="Email" required="" formControlName="email">
            <input class="p-2 rounded-xl-border"type="password" name="password" placeholder="password" required="" formControlName="password">
            <button class="bg-[#002D74] rounded-xl text-white py-2 hover:scale-110 duration-300" type="submit">Login</button>
        </form>
        <div class="mt-10 grid grid-cols-3 items-center text-gray-500">
            <hr class="outline-gray-500">
            <p class="text-center">OR</p>
            <hr class="outline-gray-500">
        </div>
        <p class=" mt-10 text-x border-b py-6">Forgot Your Password</p>
        <div class="mt-3 text-xm flex justify-between items-center">
            <p>If you don't have an acount </p>
            <button class="py-2 px-5 bg-white border-rounded-xl hover:scale-110 duration-300"><a routerLink="/register" class="a2">Register</a></button>
        </div>
    </div>
    <!-- image  -->
    <div class="md:block hidden w-1/2 log">
        <img class=" rounded-2xl" src="../../assets/images/login-img.jpg" alt="">
    </div>


</div>
</section>