<section class="bg-gray-50 min-h-screen flex items-center justify-center">
  <!-- login container  -->
  <div class="bg-gray-100 flex rounded-2xl shadow-lg max-w-3xl p-5 items-center">
    <!-- form  -->
    <div class="md:w-1/2 px-16">
      <h2 class="font-bold text-2xl text-[#002D74]">Admin login</h2>
      <p class="text-sm mt-5">If You Already a member easily login </p>
      <form [formGroup]="form" (submit)="submit()" class="flex flex-col gap-4">
        <input class="p-2 rounded-xl border" type="email" name="email" placeholder="Email" required=""
          formControlName="email" [ngClass]="{'border-red-500': login && f['email'].errors}">
        <div *ngIf="login && f['email'].errors" class="text-red-500">
          <div *ngIf="f['email'].errors['required']" class="p-2">Email is required</div>
          <div *ngIf="f['email'].errors['pattern']" class="p-2">Invalid Email</div>
        </div>

        <input class="p-2 rounded-xl border" type="password" name="password" placeholder="password" required=""
          formControlName="password" [ngClass]="{'border-red-500': login && f['password'].errors}">
        <div *ngIf="login && f['password'].errors" class="text-red-500">
          <div *ngIf="f['password'].errors" class="p-2">Password is Invalid</div>
        </div>
        <div *ngIf="message" class="bg-red-100 border-t-4 border-red-500 rounded-b text-red-900 px-4 py-3 shadow-md"
          role="alert">
          <div class="flex">
            <div class="py-1"><svg class="fill-current h-6 w-6 text-red-500 mr-4" xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20">
                <path
                  d="M2.93 17.07A10 10 0 1 1 17.07 2.93 10 10 0 0 1 2.93 17.07zm12.73-1.41A8 8 0 1 0 4.34 4.34a8 8 0 0 0 11.32 11.32zM9 11V9h2v6H9v-4zm0-6h2v2H9V5z" />
              </svg></div>
            <div>
              <p class="font-bold">{{message}}</p>
              <p class="text-sm">Something error try angain</p>
            </div>
          </div>
        </div>
        <button class="bg-[#002D74] rounded-xl text-white py-2 hover:scale-110 duration-300"
          type="submit">Login</button>
      </form>


    </div>
    <!-- image  -->
    <div class="md:block hidden w-1/2 log">
      <img class=" rounded-2xl" src="../../assets/images/login-img.jpg" alt="img" width="400px" height="600px">
    </div>


  </div>
</section>